.LinkPromo{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(166, 103, 73);
    text-decoration: underline;
}

.Gearheader{
      
  max-width: 100%;
  height: 50vh;
  min-height: 50vh;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: end;
}
.TextGear{
    
    padding: 25px;
}